.menu {
  margin: 20px -10px;
}

.menu-item {
  position: relative;
  min-height: 40px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: 10px;
  font-weight: bold;
}

.menu-item:not(.clickable) {
  cursor: default;
}

.menu-item:not(.first) {
  margin-top: -1px;
}

.menu-item:not(.active):hover {
  background: #61AFEF;
}

.menu-item-label {
  position: absolute;
  top: 30px;
  transform: translate(0, -50%);
}

.menu-item-activeMarker {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 60px;
  background: #61AFEF;
}

.menu-item-activeControl {
  position: relative;
  width: 100%;
  top: 30px;
}

.menu-item-activeControl .menu {
  margin-bottom: 19px;
}

.menu-item-activeControl .menu-item {
  min-height: 20px;
  font-size: .8em;
  font-weight: lighter;
  border-top: 1px dashed #888888;
  border-bottom: 1px dashed #888888;
  padding-left: 20px;
}

.menu-item-activeControl .menu-item-label {
  top: 20px;
}
