body {
  color: white;
  background: #555555;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  display: flex;
}

a {
  color: white;
  font-weight: bold;
}

nav {
  height: calc(100% - 20px);
  width: 280px;
  background: #333333;
  border-right: 2px solid #888888;
  overflow-y: auto;
  padding: 10px;
  flex: none;
  display: flex;
  flex-direction: column;
}

#menu {
  flex: 1;
}

#refreshPeriod {
  margin-top: 10px;
  flex: 0;
}

#refreshPeriodList {
  display: inline-block;
  list-style-type: none;
  padding-left: 10px;
}

#refreshPeriodList > li {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}

#refreshPeriodList > li.selected {
  background: #61AFEF;
}

#content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

#content {
  padding: 5px;
}

#bottom {
  flex: 1;
  position: relative;
  min-height: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
}

.clickable {
  font-weight: bold;
}

.clickable-color {
  color: #61AFEF;
}

.clickable,
.clickable-not-bold {
  cursor: pointer;
}

.row.active,
.row.noResponse {
  background: rgba(153, 214, 255, 0.3);
}

.row.approved,
.row.approvedWithSuggestions {
  background: rgba(153, 255, 153, 0.3);
}

.row.resolved,
.row.waiting {
  background: rgba(255, 214, 153, 0.3);
}

.row.rejected {
  background: rgba(255, 128, 128, 0.3);
}

.noResponse-noAlpha {
  background: rgb(153, 214, 255);
}

.approved-noAlpha,
.approvedWithSuggestions-noAlpha {
  background: rgb(153, 255, 153);
}

.waiting-noAlpha {
  background: rgb(255, 214, 153);
}

.rejected-noAlpha {
  background: rgb(255, 128, 128);
}
