.table {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
}
.header .column {
  font-weight: bold;
}

.table .row {
  border-top: 1px solid #555555;
  min-height: 30px;
  display: flex;
  flex-direction: row;
}

.table .row:hover {
  background: #61AFEF;
}

.table .column {
  position: relative;
  padding: 5px;
  vertical-align: middle;
  flex: 0 1 auto;
}

.table-noRows {
  text-align: center;
}
