.app {
  background-color: #242424;

  .icon {
    height: 20px;
    width: 20px;

    svg {
      height: 20px;
      width: 20px;
      fill: #fff;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .ms-TextField-field {
    color: black !important;
  }

  .ms-MessageBar {
    color: white !important;
  }

  .ms-Checkbox:hover {
    .ms-Checkbox-text {
      color: #0078d7;
    }
  }

  .ms-Toggle:not(.is-checked) {
    .ms-Toggle-thumb {
      background-color: black;
    }
  }
}
