.app {
  background-color: #242424;
  color: white;
  font-family: "Segoe UI", sans-serif;

  .icon {
    height: 20px;
    width: 20px;

    svg {
      height: 20px;
      width: 20px;
      fill: #fff;
    }
  }
}
