.pullRequestList {
  display: inline-block;
  width: ~"calc(100% - 200px)";
}

.pullRequestList .columnHeader {
  color: #646464;
  display: inline-block;
}

.pullRequestList .columnHeader.first {
  margin-left: 100px;
}
