.pullRequest {
  position: relative;
  height: 20px;

  .cell {
    display: inline-block;
    padding: 0 2px;
  }

  &:hover {
    background-color: #777777;
  }
}

.pullRequest + .pullRequest {
  margin-top: 5px;
}
