.pullRequestList {
  display: inline-block;
  width: ~"calc(100% - 200px)";

  .columnHeader {
    color: #646464;
    display: inline-block;
  }

  .columnHeader.first {
    margin-left: 100px;
  }
}
