.repoHeader {
  position: relative;

   h4 {
    margin: 0;
    display: inline-block;
    margin-left: 10px;
    font-weight: normal;
  }

  .toggleButton {
    cursor: pointer;
  }

  .repoStats {
    position: absolute;
    right: 0;
    top: 0;
  }

  .icon {
    position: absolute;
    top: 2px;
    display: inline;
    padding-right: 10px;
  }

  .needsAttention {
    margin-left: 25px
  }
}
